<form ic-post-to="/todos/" method="post" ic-indicator="#post-indicator">
  <div class="col-xs-12">
    <div class="input-group">
      <input name="text" class="form-control" placeholder="Todo Item" />
      <span class="input-group-btn">
        <button class="btn btn-outline-primary">
          <i class="fa fa-plus" aria-hidden="true"></i> <span class="hidden-sm-down">Add</span>
          <i id="post-indicator" class="fa fa-spinner fa-spin" style="display:none"></i>
        </button>
      </span>
    </div>
  </div>
</form>
